doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    img(src="images/COMLINE-SE_Logo.png")
    h1= title
    include sections.jade
    block content
